<a href="https://colab.research.google.com/github/feracor/Python-basics/blob/main/Notas_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Imprimir

In [ ]:
print('Hola Fernando')

Hola Fernando

#Variables

In [ ]:
#Variables

my_name='Fernando'
print(my_name)

my_age=32
print(my_age)

my_name="Acevedo"
print("Acá cambia el contenido de la variable y, ahora es:",my_name)

#input: Pemite al usuario ingresar los valores que se van a guardar en la variable
my_name=input("¿Cuál es tu nombre?: ")
print("Gusto en conocerte,",my_name)

Fernando
32
Acá cambia el contenido de la variable y, ahora es: Acevedo

In [ ]:
text = 2
print(text)

2

#Tipos de datos

In [ ]:
#String - Cadena de texto

my_name1="Fernando1"
my_name2='Fernando2'

print(my_name1, my_name2)
print(type(my_name1))

Fernando1 Fernando2
<class 'str'>

In [ ]:
#int - Número entero
my_age=32

print(my_age)
print(type(my_age))

32
<class 'int'>

In [ ]:
#boolean - Valores boleanos, corresponden a 1 ó 0, verdadero ó falso

is_single = True # El valor booleano debe iniciar con mayúscula
is_not_single = False

print("El valor single es:", is_single, "y el valor not single is:", is_not_single )

print(type(is_single))
print(type(is_not_single))

El valor single es: True y el valor not single is: False
<class 'bool'>
<class 'bool'>

In [ ]:
#inputs - Permiten capturar valores del usuario y guardarlos en las variables.
# El tipo de valor guardado siempre va a ser de tipo string, no importa si se ingresan números o valores booleanos.

my_age = input("¿Cúal es tu edad? ")
print("Tu edad es: ", my_age)
print(type(my_age))

¿Cúal es tu edad? 4
Tu edad es:  4
<class 'str'>

#Strings

In [ ]:
name="Fernando"
last_name="Acevedo"

print(name, last_name) # Imprime una frase con concatenacion que deja un espacio entre las variables

Fernando Acevedo

In [ ]:
full_name=name + " " + last_name # Concatenación para que pueda queda con un espacio entre las variable concatenadas

print(full_name)

Fernando Acevedo

In [ ]:
quote1 = "I'm Fernando" # Se alternan las comillas simple con dobles para que no haya interferencia con la sintaxis de Python
quote2 = 'She said "Hello"' # Se alternan las comillas simple con dobles para que no haya interferencia con la sintaxis de Python

print(quote1)
print(quote2)

I'm Fernando
She said "Hello"

In [ ]:
#format

age = "32"

template1 = "Hola, mi nombre es " + name + ", mi apellido es " + last_name + " y mi edad es " + age # Se pueden guardar variables dentro de una variable y con texto nuevo. Tener en cuenta poner espacios.

print(template1)

template2 = "Hola, mi nombre es {}, mi apellido es {} y mi edad es {}.".format(name, last_name, age) # Con la funcion format se puede reemplazar el contenido de las llaves {} con las variables llamadas en la función.

print(template2)

template3 = f"Hola, mi nombre es {name}, mi apellido es {last_name} y mi edad es {age}." # Se usa la letra f al comienzo y dentro de las llaves se ingresa la variable. Este es un formato mas común en Python.

print(template3)

Hola, mi nombre es Fernando, mi apellido es Acevedo y mi edad es 32
Hola, mi nombre es Fernando, mi apellido es Acevedo y mi edad es 32.
Hola, mi nombre es Fernando, mi apellido es Acevedo y mi edad es 32.

#Numbers

In [3]:
lives = 3 #Los valores enteros no usan comillas
print(type(lives))#Imprimir el tipo de dato
age = 32
budget = 100

<class 'int'>

In [5]:
temperature = 16.23 #Se pueden almacenar números con decimales, se guardan como tipo flotante
print(type(temperature))

<class 'float'>

In [6]:
lives = 2 #Primera asignación de valores en la variable "lives"

print(lives)

lives = 1#Segunda asignación de valores en la variable "lives"

print(lives)

2
1

In [7]:
lives = 2+1 #se pueden hacer operaciones y guardar el resultado en la varaible
print(lives)

3

In [11]:
lives = lives - 1 # Decrementa la cantidad que hay en lives en una unidad y el resuldado lo guarda en lives.
print(lives)

lives -= 1 #Esta es una forma simplificada para hacer operaciones con una variable y que el resultado se guarde en la misma variable, acá se hace un decremento en una unidad.
print(lives)

lives += 2 #Esta es una forma simplificada para hacer operaciones con una variable y que el resultado se guarde en la misma variable, acá se hace un incremento en dos unidades.
print(lives)

-2
-3
-1

In [13]:
number = 36500000000000000000000.1 #Este valor puede ser guardado en la variable, y visualizado como notación científica.
print(number)

number = 0.0000000000000000002 #Este valor puede ser guardado en la variable, y visualizado como notación científica.
print(number)

3.65e+22
2e-19

In [17]:
#Calculo de presupuesto

enero = 515000
febrero = 485000
marzo = 560000

presupuesto = (enero + febrero + marzo)/3 #Se promedia el presupuesto de los tres meses.

print(presupuesto)
print(type(presupuesto))

520000.0
<class 'float'>