<a href="https://colab.research.google.com/github/feracor/Python-basics/blob/main/Notas_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Imprimir

In [1]:
print('Hola Mundo')

Hola Mundo

#Variables

In [ ]:
#Variables

my_name='Fernando'
print(my_name)

my_age=32
print(my_age)

my_name="Acevedo"
print("Acá cambia el contenido de la variable y, ahora es:",my_name)

#input: Pemite al usuario ingresar los valores que se van a guardar en la variable
my_name=input("¿Cuál es tu nombre?: ")
print("Gusto en conocerte,",my_name)

Fernando
32
Acá cambia el contenido de la variable y, ahora es: Acevedo
¿Cuál es tu nombre?: p
Gusto en conocerte, p

In [ ]:
text = 2
print(text)

2

#Tipos de datos

In [ ]:
#String - Cadena de texto

my_name1="Fernando1"
my_name2='Fernando2'

print(my_name1, my_name2)
print(type(my_name1))

Fernando1 Fernando2
<class 'str'>

In [ ]:
#int - Número entero
my_age=32

print(my_age)
print(type(my_age))

32
<class 'int'>

In [ ]:
#boolean - Valores boleanos, corresponden a 1 ó 0, verdadero ó falso

is_single = True # El valor booleano debe iniciar con mayúscula
is_not_single = False

print("El valor single es:", is_single, "y el valor not single is:", is_not_single )

print(type(is_single))
print(type(is_not_single))

El valor single es: True y el valor not single is: False
<class 'bool'>
<class 'bool'>

In [ ]:
my_age = input("¿Cúal es tu edad? ") #inputs - Permiten capturar valores del usuario y guardarlos en las variables.
print("Tu edad es: ", my_age) # Imprime el valor suministrado por el usuario
print(type(my_age)) #Imprime el tipo de dato.

¿Cúal es tu edad? 2
Tu edad es:  2
<class 'str'>

#Strings

In [ ]:
name="Fernando"
last_name="Acevedo"

print(name, last_name) # Imprime una frase con concatenacion que deja un espacio entre las variables

Fernando Acevedo

In [ ]:
full_name=name + " " + last_name # Concatenación para que pueda queda con un espacio entre las variable concatenadas

print(full_name)

Fernando Acevedo

In [ ]:
quote1 = "I'm Fernando" # Se alternan las comillas simple con dobles para que no haya interferencia con la sintaxis de Python
quote2 = 'She said "Hello"' # Se alternan las comillas simple con dobles para que no haya interferencia con la sintaxis de Python

print(quote1)
print(quote2)

I'm Fernando
She said "Hello"

In [ ]:
#format

age = "32"

template1 = "Hola, mi nombre es " + name + ", mi apellido es " + last_name + " y mi edad es " + age # Se pueden guardar variables dentro de una variable y con texto nuevo. Tener en cuenta poner espacios.

print(template1)

template2 = "Hola, mi nombre es {}, mi apellido es {} y mi edad es {}.".format(name, last_name, age) # Con la funcion format se puede reemplazar el contenido de las llaves {} con las variables llamadas en la función.

print(template2)

template3 = f"Hola, mi nombre es {name}, mi apellido es {last_name} y mi edad es {age}." # Se usa la letra f al comienzo y dentro de las llaves se ingresa la variable. Este es un formato mas común en Python.

print(template3)

Hola, mi nombre es Fernando, mi apellido es Acevedo y mi edad es 32
Hola, mi nombre es Fernando, mi apellido es Acevedo y mi edad es 32.
Hola, mi nombre es Fernando, mi apellido es Acevedo y mi edad es 32.

#Numbers

In [ ]:
lives = 3 #Los valores enteros no usan comillas
print(type(lives))#Imprimir el tipo de dato
age = 32
budget = 100

<class 'int'>

In [ ]:
temperature = 16.23 #Se pueden almacenar números con decimales, se guardan como tipo flotante
print(type(temperature))

<class 'float'>

In [ ]:
lives = 2 #Primera asignación de valores en la variable "lives"

print(lives)

lives = 1#Segunda asignación de valores en la variable "lives"

print(lives)

2
1

In [ ]:
lives = 2+1 #se pueden hacer operaciones y guardar el resultado en la varaible
print(lives)

3

In [ ]:
lives = lives - 1 # Decrementa la cantidad que hay en lives en una unidad y el resuldado lo guarda en lives.
print(lives)

lives -= 1 #Esta es una forma simplificada para hacer operaciones con una variable y que el resultado se guarde en la misma variable, acá se hace un decremento en una unidad.
print(lives)

lives += 2 #Esta es una forma simplificada para hacer operaciones con una variable y que el resultado se guarde en la misma variable, acá se hace un incremento en dos unidades.
print(lives)

2
1
3

In [ ]:
number = 36500000000000000000000.1 #Este valor puede ser guardado en la variable, y visualizado como notación científica.
print(number)

number = 0.0000000000000000002 #Este valor puede ser guardado en la variable, y visualizado como notación científica.
print(number)

3.65e+22
2e-19

In [ ]:
#Calculo de presupuesto

enero = 515000
febrero = 485000
marzo = 560000

presupuesto = (enero + febrero + marzo)/3 #Se promedia el presupuesto de los tres meses.

print(presupuesto)
print(type(presupuesto))

520000.0
<class 'float'>

#Boolens

In [ ]:
# los valores booleanos solo tienen dos valores: Falso y verdadero

is_single = True # los valores booleanos son asignados comenzando con una mayúscula

print(is_single)
print(type(is_single))

is_single = False # los valores booleanos son asignados comenzando con una mayúscula

print(is_single)

True
<class 'bool'>
False

In [ ]:
print(not True) # Se puede negar la salida e imprimirla en una misma línea al usar not
print(not False)

print(is_single)  # Valor en la variable antes de invertir su valor

is_single = not is_single # El valor contenido en la variable puede ser cambiado al agregar la palabra reservada "not" y guardarla en la misma variable

print(is_single)  # Valor en la variable despues de invertir su valor

False
True
False
True

#Transformación de tipos

In [ ]:
name = "Fernando"

print(type(name))

name = 12 # De forma dinámica es posible hacer el cambio del tipo de variable

print(type(name))

name = True

print(type(name))

<class 'str'>
<class 'int'>
<class 'bool'>

In [ ]:
print("Fernando " + "Acevedo") # Esta es una concatenación con carácteres

print(20 + 12) # Esta es una suma entre enteros

#print("Fernando" + 12) # No se pueden concatenar diferentes tipos de datos y arroja error cuando se utiliza este formato de impresión
print("Fernando " + "32") # Se pueden concatenar mismos tipos de datos, en este caso el 12 es considerado un string

Fernando Acevedo
32
Fernando 32

In [ ]:
age = 32

print("Mi edad es " + str(age)) # En este tipo de concatenación permite hacer la tranformación de tipo de dato de la variable a mostrar en la impresión

print(f"Mi edad es {age}")  # Este tipo de formato permite hacer una concatenación sin realizar una transformación previa del formato de alguna de las variables

Mi edad es 32
Mi edad es 32

In [ ]:
age = input("Escribe tu edad y presiona Enter: ") # El valor guardado en la variable al usar el método input, es por defecto un string. Para que esta transformación funcione, el usuario debe ingresar un número entero.
print("Antes de la tranformación el tipo de dato es: ",type(age))

age = int(age)  # Se puede realizar la transformación de tipo de variable y guardarla en la misma
age +=10  # Depues de hacer la tranformación se puede operar como un entero

print("Despues de la tranformación el tipo de dato es: ", type(age))  # Verifica el tipo de dato despues de la transformción

print(f"Tu edad en 10 años será: {age}")

Escribe tu edad y presiona Enter: 21
Antes de la tranformación el tipo de dato es:  <class 'str'>
Despues de la tranformación el tipo de dato es:  <class 'int'>
Tu edad en 10 años será: 31

#Operadores ariméticos

In [ ]:
print("Suma",10 + 10)  # Sumar enteros
print("Resta",10 - 10)  # Restar enteros
print("Multiplicar",10 * 10)  # Multiplicar enteros
print("Dividir",10 / 10)  # Dividir enteros
print("Módulo",10 % 3)  # Operación módulo, muestra el residuo de una división
print("Entero de división",10 // 3)  # Dividir enteros y no arroja la parte entera del resultado
print("Exponencial",10 ** 10)  # Elevar un número

print("Fernando "+ "Acevedo")  # Concatenar strings
print("Fernando " * 3)  # Multiplicar o repetir string

Suma 20
Resta 0
Multiplicar 100
Dividir 1.0
Módulo 1
Entero de división 3
Exponencial 10000000000
Fernando Acevedo
Fernando Fernando Fernando

#Operadores de comparación

In [ ]:
# > Operador mayor que. Compara dos valores y retorna un valor boleano entre True o False
print("Mayor que")
print(7 > 3)
print(3 > 7)
print(7 > 7)

# < Operador menor que. Compara dos valores y retorna un valor boleano entre True o False
print("\nMenor que")
print(7 < 3)
print(3 < 7)
print(7 < 7)

# > Operador mayor o igual que. Compara dos valores y retorna un valor boleano entre True o False
print("\nMayor que o igual")
print(7 >= 3)
print(3 >= 7)
print(7 >= 7)


# < Operador mayor que. Compara dos valores y retorna un valor boleano entre True o False
print("\nMenor o igual que")
print(7 <= 3)
print(3 <= 7)
print(7 <= 7)

Mayor que
True
False
False

Menor que
False
True
False

Mayor que o igual
True
False
True

Menor o igual que
False
True
True

In [ ]:
# == Operador de igualdad. Compara dos valores y retorna un valor boleano entre True o False dependiendo si los valores son o no de mismo valor numérico
print("Igualdad")
print(7 == 3)
print(7 == 7)

# == Operador diferente de. Compara dos valores y retorna un valor boleano entre True o False dependiendo si los valores son o no de mismo valor numérico
print("Diferente de")
print(7 != 3)
print(7 != 7)

Igualdad
False
True
Diferente de
True
False

In [ ]:
print("Igualdad en strings")
print("Coco" == "Coco") # Se pueden comparar otros tipos de dato, no solamente numérico.
print("Coco" == "coco")

print("\nDiferente de en strings")
print("Coco" != "Coco") # Se pueden comparar otros tipos de dato, no solamente numérico.
print("Coco" != "coco")

print("\nDiferente de en strings")
print(1 != "1") # Los valores a compara deben ser el mismo tipo de dato para que sus valores sean iguales y el resultado pueda ser True
print(1 != 1)
print("1" != "1")

Igualdad en strings
True
False

Diferente de en strings
False
True

Diferente de en strings
True
False
False

#Comparación con números flotantes

In [ ]:
x = 3.3
y = 1.1 + 2.2

print(x)
print(y)
print(x + y)

print("\nComparación entre valores flotantes teniendo en cuenta la precisión")
print(x == y) # La precisón que maneja python en la computadora hace que los valores flotantes sean diferentes.

y_str = format(y, "2g") # Se puede tranformar el valor de y a un string y recortar decimales, es decir quitar precisión.
print("\nValor guardado al convertir en string y quitar la precisión")
print(y_str)  # El valor queda sin la precisón, sin embargo queda guardado como un tipo string y no se puede operar matemáticamente con un número entero.

print("\nComparación entre valores basados en string")
print(y_str == str(x)) # Compara los valores en términos de string, no es un forma matemática de hacer una comparación y no permite que sus valores sean operados.

tolerance = 0.00001
print(abs(x -y) < tolerance)  # Esta forma permite hacer la comparación matemática teniendo en cuenta una tolerancia en el margen de precisión.

3.3
3.3000000000000003
6.6

Comparación entre valores flotantes teniendo en cuenta la precisión
False

Valor guardado al convertir en string y quitar la precisión
3.3

Comparación entre valores basados en string
True
True

#Operadores lógicos: and y or

In [ ]:
# and, es un operador que solo da verdadero cuando todas las entradas son True
print("Tabla de verdad AND")
print("True and True: \t\t", True and True)
print("True and False: \t", True and False)
print("False and True: \t", False and True)
print("False and False: \t", False and False)

print("\nComparando valores booleanos a partir de valores numéricos")
print(10 > 5 and 5 < 10) # El primer valor da True y el segunto True
print(10 > 5 and 5 > 10) # El primer valor da True y el segunto False

Tabla de verdad AND
True and True: 		 True
True and False: 	 False
False and True: 	 False
False and False: 	 False

Comparando valores booleanos a partir de valores numéricos
True
False

In [ ]:
stock = int(input("Ingrese el número en stock: "))

print(stock >= 100 and stock <= 1000) # Esta operación limita el valor el stock y le dice al usuario si el valor ingresado es valido para ingresar al stock, da como resultado un valor booleano.

Ingrese el número en stock: 100
True

In [ ]:
# or, es un operador que solo da verdadero cuando al menos una de las entradas son True
print("Tabla de verdad OR")
print("True or True: \t",True or True)
print("True or False \t",True or False)
print("False or True \t",False or True)
print("False or False \t",False or False)

print("\nComparando valores booleanos a partir de valores numéricos")
print(10 < 5 or 5 > 10) # El primer valor da False y el segunto False
print(10 > 5 or 5 > 10) # El primer valor da True y el segunto False

Tabla de verdad OR
True or True: 	 True
True or False 	 True
False or True 	 True
False or False 	 False

Comparando valores booleanos a partir de valores numéricos
False
True

In [ ]:
role = input("Digita el rol: ")
print(role == "admin" or role == "seller")  # La salida da verdadero si el valor ingresado coincide con algunos de los dos valores a comparar (admin o seller)

Digita el rol: admin
True

#Operador lógico not

In [ ]:
# not, este comparador niega el valor booleano y lo transforma a su inverso. Si es False lo transforma a True y viceversa
print("Tabla de verdad NOT")
print("True:\t", not True)
print("False:\t", not False)

Tabla de verdad NOT
True:	 False
False:	 True

In [ ]:
print("Tabla de verdad NOT con AND")
print("True and True: \t\t", not(True or True))
print("True and False: \t", not(True or False))
print("False and True: \t", not(False or True))
print("False and False: \t", not(False or False))

Tabla de verdad NOT con AND
True and True: 		 False
True and False: 	 False
False and True: 	 False
False and False: 	 True

In [ ]:
print("Tabla de verdad NOT con OR")
print("True or True: \t", not(True or True))
print("True or False \t", not(True or False))
print("False or True \t", not(False or True))
print("False or False \t", not(False or False))

Tabla de verdad NOT con OR
True or True: 	 False
True or False 	 False
False or True 	 False
False or False 	 True

#Condicionales

In [ ]:
# if, es una operacion que ejecuta una accion dependiendo si se cumplen las condiciones que le damos
if True:  # Cuando esta condición es verdadera, ejecutará las acciones que se le asignen.
  print("Deberia ejecutarse")

if False: # Cuando esta condición es falsa, nunca va a ejecutas las acciones asignadas.
  print("Nunca deberia ejecutarse")

Deberia ejecutarse

In [ ]:
# Ejemplo if
pet = input("Ingresa el tu mascota favorita: ")

if pet == "perro":
  print("Que bien, tienes buen gusto")

if pet == "gato":
  print("espero que tengas suerte")

Ingresa el tu mascota favorita: perro
Que bien, tienes buen gusto

In [ ]:
# else, ejecuta la instruccion en caso de que la primera acción no se cumpla.
stock = int(input("Digita el stock: "))

if stock >= 100 and stock <= 1000:
  print("El stock es correcto")
else:   # Si la condición no se cumple, se ejecutará la suguiente acción.
  print("El stock es incorrecto")

Digita el stock: 100
El stock es correcto

In [ ]:
# elif = else if. Es una contracción de los anteriores condicionales y se ejecutara si el primer if no se cumple y van antes de un else final

pet = input("Ingresa el tu mascota favorita: ")

if pet == "perro":
  print("Que bien, tienes buen gusto")
elif pet == "gato":
  print("Espero que tengas suerte")
elif pet == "pez":
  print("Eres lo máximo")
else:
  print("Veo que no tienes ninguna mascota interesante")

Ingresa el tu mascota favorita: gato
Espero que tengas suerte

In [ ]:
# Ejercicio números pares

par = int(input("Ingresa un número: "))

if par % 2 == 0:
  print("El número ingresado es par")
elif par % 2 != 0:
  print("El número ingresado es impar")
else:
  print("Valor ingresado no es válido")

Ingresa un número: 5
El número ingresado es impar

#Proyecto: condicionales

In [ ]:
# Juego de piedra papel o tijera

user_option = input("Escoje piedra, papel o tijera: ")
compu_option = "piedra"

print(f"\nLa opcion del computador es {compu_option}")

if user_option == compu_option:
  print("\nEs empate")
elif user_option == "piedra":
  if compu_option == "tijera":
    print("\nPiedra gana a tijera \nEl usuario ganó")
  else:
    print("\nPapel gana a piedra \nEl computador gana")
elif user_option == "papel":
  if compu_option == "tijera":
    print("\nTijera gana a papel \nEl computador gana")
  else:
    print("\nPapel gana a piedra \nEl usuario ganó")
elif user_option == "tijera":
  if compu_option == "papel":
    print("\nTijera gana a papel \nEl usuario ganó")
  else:
    print("\nPiedra gana a tijera \nEl computador gana")

Escoje piedra, papel o tijera: papel

La opcion del computador es piedra

Papel gana a piedra
El usuario ganó

#String recargado

In [ ]:
text = "Ella sabe programar en python"
print("JavaScript" in text) # Busca JavaScript en la frase guardada en text, si esta imprime True sino, False
print("python" in text) # Busca python en la frase guardada en text, si esta imprime True sino, False

if "JS" in text:
  print("Elegiste JavaScript, que bien")
else:
  print("Tambien has elegido bien")

size = len(text)  # Mide la longitud de carácteres en la frase guardada en la variable text
print(size)

False
True
Tambien has elegido bien
29

In [ ]:
# Trabajar con métodos

print(text, text.upper()) # El método upper convierte en mayúsculas los caracteres de un string
print(text, text.lower()) # El método lower convierte en minúscilas los caracteres de un string
print(text, text.count("a")) # El método count cuenta las veces que se repite un carácter o carácteres en una cadena de carácteres

print("\n",text, text.swapcase()) # El método swapcase convierte en mayúsculas los carácteres en minúsculas y viceversa
print(text, text.startswith("Ella")) # El método startwith pregunta si la frase guardada inicia con una palabra o caráter especificado en el argumento
print(text, text.endswith("Rust")) # El método endwith pregunta si la frase guardada termina con una palabra o caráter especificado en el argumento
print(text, text.replace("python", "Go")) # El método replace reemplaza los carácteres especificado en el argumento

Ella sabe programar en python ELLA SABE PROGRAMAR EN PYTHON
Ella sabe programar en python ella sabe programar en python
Ella sabe programar en python 4

 Ella sabe programar en python eLLA SABE PROGRAMAR EN PYTHON
Ella sabe programar en python True
Ella sabe programar en python False
Ella sabe programar en python Ella sabe programar en Go

In [ ]:
text_2 = "este es un titulo"

print(text_2, text_2.capitalize())  # El método capitalize cambia a mayúscula el primer carácter del texto
print(text_2, text_2.title())  # El método title cambia a mayúscula el primer carácter de cada palabra del texto
print(text_2, text_2.isdigit())  # El método isdigit pregunta si el contenido de la variable es un dígito
print("2323".isdigit())  # El método isdigit pregunta si el contenido de la variable es un dígito

este es un titulo Este es un titulo
este es un titulo Este Es Un Titulo
este es un titulo False
True

In [ ]:
# Juego de piedra papel o tijera con modificación para transformación en minúsculas

user_option = input("Escoje piedra, papel o tijera: ")
compu_option = "piedra"

user_option = user_option.lower()

print(f"\nLa opcion del computador es {compu_option}")

if user_option == compu_option:
  print("\nEs empate")
elif user_option == "piedra":
  if compu_option == "tijera":
    print("\nPiedra gana a tijera \nEl usuario ganó")
  else:
    print("\nPapel gana a piedra \nEl computador gana")
elif user_option == "papel":
  if compu_option == "tijera":
    print("\nTijera gana a papel \nEl computador gana")
  else:
    print("\nPapel gana a piedra \nEl usuario ganó")
elif user_option == "tijera":
  if compu_option == "papel":
    print("\nTijera gana a papel \nEl usuario ganó")
  else:
    print("\nPiedra gana a tijera \nEl computador gana")

Escoje piedra, papel o tijera: papel

La opcion del computador es piedra

Papel gana a piedra
El usuario ganó

#Indexing y slicing

In [ ]:
# Indexing

text = "Ella sabe Python"
print(text[0])  # Imprime el carácter en la posición 1
print(text[1])  # Imprime el carácter en la posición 2
#print(text[999])  # Si la posición no existe, se imprime un error

size = len(text)
print(size)
print(text[size - 1]) # Los carácteres se empiezan a contar desde 0, de esta manera se cuenta el tamaño de la variable en carácteres y se resta uno para extraer el último caracter
print(text[-1]) # De esta manera se le dice a Python que traiga el último carácter, el conteo empieza desde el último carácter

E
l
16
n
n

In [ ]:
# Slicing

print(text[0:5])  # Se imprime los carácteres desde cero hasta la posición cinco menos uno, es decir toma la posicion uno hasta la cuarta extrayendo 4 carácteres
print(text[10:16])  # Se imprime los carácteres desde el decimo índice hasta el índice dieciseis menos uno, es decir toma la posicion diez hasta el decimoquinto extrayendo 6 carácteres
print(text[:10])  # De esta manera se omite dar la orden de empezar desde el carácter en la posición cero, Python entiende que se toma desde el índice cero hasta el décimo menos uno

print(text[5:])  # De esta manera se omite dar la orden de tomar los carácteres hasta la última posición desde un índice establecido, Python entiende que se toma desde el índice indicado hasta el último
print(text[:])  # Esta es una manera redundante de imprimir el contenido de la variable

Ella
Python
Ella sabe
sabe Python
Ella sabe Python

In [ ]:
print(text[10:16:1])  # Se indica que imprima los carácteres desde el décimo índice al quinceavo tomado los caracteres de uno en uno
print(text[10:16:2])  # Se indica que imprima los carácteres desde el décimo índice al quinceavo tomado los caracteres de dos en dos
print(text[::2])  # Imprime todos los carácteres tomándolos de dos en dos

Python
Pto
El aePto

#Listas

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
print(numbers,type(numbers))

[1, 2, 3, 4, 5, 6] <class 'list'>

In [ ]:
tasks = ["make the dishes", "play videogames"]
print(tasks)

['make the dishes', 'play videogames']

In [ ]:
types = [3, "play videogames", False] # Una lista puede guardar diferentes tipos de datos
print(types)

print(tasks[0])
print(types[2])

[3, 'play videogames', False]
make the dishes
False

In [ ]:
#text = "Hola"
#text[0] = "h"

tasks[0] = "Watch Platzi courses" # Es posible actualizar los elementos de una lista
print(tasks)

tasks[0] = "Do the dishes" # Es posible actualizar los elementos de una lista
print(tasks)

['Watch Platzi courses', 'play videogames']
['Do the dishes', 'play videogames']

In [ ]:
print(numbers)
print(numbers[:3])  # Puede imprimir elementos de las listas
print(numbers[2:])
print(numbers[3:5])
print(numbers[3])

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[3, 4, 5, 6]
[4, 5]
4

# Métodos de listas

In [ ]:
#CRUD - Crate, Read, Update, Delete

numbers = [1, 2, 3, 4, 5, 6, 7] # Crea una lista
print(numbers[1]) # Imprime el segundo elemento de la lista

numbers[-1] = 10  # Reemplazar el último valor de la lista
print(numbers) # Imprime el último estado de la lista

2
[1, 2, 3, 4, 5, 6, 10]

In [ ]:
# append: Agrega un nuevo elemento en la última posicion de la lista

numbers.append(700)
print(numbers)

[1, 2, 3, 4, 5, 6, 10, 700]

In [ ]:
# insert: Método para agregar elementos que tiene dos parámetros, el primero hace referencia a la posición y el segundo al elemento que se desee insertar, despues los elementos de la lista se ajusta a un nuevo indice

numbers.insert(0, "hola")
print(numbers)

['hola', 1, 2, 3, 4, 5, 6, 10, 700]

In [ ]:
# Ejemplo del método insert
numbers.insert(3, "change")
print(numbers)

['hola', 1, 2, 'change', 3, 4, 5, 6, 10, 700]

In [ ]:
# Fusionar listar

new_list = numbers + tasks  # Une el contenido de las dos lista en una sola lista
print(new_list)

['hola', 1, 2, 'change', 3, 4, 5, 6, 10, 700, 'Do the dishes', 'play videogames']

In [ ]:
# Descubrir la posición de un elemento de una lista

print(new_list.index(700))

index = new_list.index(700) # Es posible guardar la posición del index del elemento solicitado
new_list[index] = "801" # Depues es posible reemplazar el valor del elemento en la lista

print(new_list)

9
['hola', 1, 2, 'change', 3, 4, 5, 6, 10, '801', 'Do the dishes', 'play videogames']

In [ ]:
# Eliminar el último elemento de la lista

new_list.pop()
print(new_list)

['hola', 1, 2, 'change', 3, 4, 5, 6, 10, '801', 'Do the dishes']

In [ ]:
#Al agregar una posición como párametro, se elimina el elemento guardado en esa posición
new_list.pop(1)
print(new_list)

['hola', 2, 'change', 3, 4, 5, 6, 10, '801', 'Do the dishes']

In [ ]:
#Invierte al reves los elementos de la lista
print(new_list)
new_list.reverse()
print(new_list)

['hola', 2, 'change', 3, 4, 5, 6, 10, '801', 'Do the dishes']
['Do the dishes', '801', 10, 6, 5, 4, 3, 'change', 2, 'hola']

In [ ]:
#Ordenar los elementos de una lista
numbers_a= [2, 4, 8, 3, 0, 1, 9, 5]
print(numbers_a)
numbers_a.sort()
print(numbers_a)

[2, 4, 8, 3, 0, 1, 9, 5]
[0, 1, 2, 3, 4, 5, 8, 9]

In [ ]:
#Ordenar los elementos de una lista
strings_a= [ "ter", "cua", "sei"]
print(strings_a)
strings_a.sort()
print(strings_a)

#Solo se pueden ordenar listas con mismos tipos de datos contenidos en este.

['ter', 'cua', 'sei']
['cua', 'sei', 'ter']

#Tuplas

In [ ]:
# Las tuplas son inmutable, es decirno se pueden modificar

t_numbers = (1, 2, 3, 4, 5, )
t_strings = ("fer", "ace", "santi")
print(t_numbers)
print(type(t_numbers))
print(type(t_strings))

print("0 =>", t_numbers[0])
print("0 =>", t_strings[0])

(1, 2, 3, 4, 5)
<class 'tuple'>
<class 'tuple'>
0 => 1
0 => fer

In [ ]:
#t_numbers.append(10)  #No es posible hace modificaciones en una tupla, solo se puede hacer consultas.
t_numbers[1]  #No se pueden hacer cambios en tuplas

2

In [ ]:
#Se pueden hacer consultas con respecto a la posición (index)
print(t_strings)
print(t_strings.index("santi"))
#Es posible ver repeticiones de un elemento de una tupla.
print(t_strings.count("fer"))

('fer', 'ace', 'santi')
2
1

In [ ]:
#Se pueden guardar los elementos de una tupla en una lista con el método "list" en una variable nueva
t_list = list(t_strings)
print(t_list)
print(type(t_list))

#Despues de tener la lista, si es posible modificar los elementos de dicha lista
t_list[1] = "san"
print(t_list)
print(type(t_list))

#Luego de modificar la lista, se puede convertir la lista en tupla
tup_list = tuple(t_list)
print(type(tup_list))

['fer', 'ace', 'santi']
<class 'list'>
['fer', 'san', 'santi']
<class 'list'>
<class 'tuple'>

In [ ]:
#Implementación de tuplas en el juego de piedra, papel o tijera

import random

options = ("piedra", "papel", "tijera") #Se crea una tupla para agregar las opciones para el computador

user_option = input("Escoje piedra, papel o tijera: ")

if not user_option in options:
  print("Esta opción no es válida")


compu_option = random.choice(options) #De manera aleatoria se escoje una opcion de la tupla
user_option = user_option.lower()

print(f"\nLa opción del usuario es {user_option}")
print(f"\nLa opcion del computador es {compu_option}")

if user_option == compu_option:
  print("\nEs empate")
elif user_option == "piedra":
  if compu_option == "tijera":
    print("\nPiedra gana a tijera \nEl usuario ganó")
  else:
    print("\nPapel gana a piedra \nEl computador gana")
elif user_option == "papel":
  if compu_option == "tijera":
    print("\nTijera gana a papel \nEl computador gana")
  else:
    print("\nPapel gana a piedra \nEl usuario ganó")
elif user_option == "tijera":
  if compu_option == "papel":
    print("\nTijera gana a papel \nEl usuario ganó")
  else:
    print("\nPiedra gana a tijera \nEl computador gana")

Escoje piedra, papel o tijera: piedra

La opción del usuario es piedra

La opcion del computador es tijera

Piedra gana a tijera
El usuario ganó

#Diccionarios

In [ ]:
#

my_dict = {}
print(type(my_dict))

my_dict = {
    "avion": "maquina voldora",
    "name": "Fernando",
    "last_name": "Acevedo",
    "age": 32
}

print(my_dict)

<class 'dict'>
{'avion': 'maquina voldora', 'name': 'Fernando', 'last_name': 'Acevedo', 'age': 32}

In [ ]:
#Contar elemento en el diccionario

print(len(my_dict))

4

In [ ]:
print(my_dict["age"])
print(my_dict["last_name"])
print(my_dict.get("age")) #El método "get" puede manejar errores en caso de que el valor solicitado no exista en el diccionario
print(my_dict.get("unvalor"))

print("avion" in my_dict) #Devuelve un valor booleano si está o no el valor solicitado dentro del diccionario
print("carro" in my_dict)

32
Acevedo
32
None
True
False

#Diccionarios: inserción y actualización

In [ ]:
person = {
    "name" : "Fer",
    "last_name": "Acevedo",
    "langs": ["python", "javascript"],
    "age": 32
}

print(person)

person["name"] = "Santi"
person["age"] -= 5
person["langs"].append("rust")

print(person)

del person["last_name"]
person.pop("age") #Se debe definir el parámetro al usar este método

print("\n",person)

print("\nImprime los items,", person.items()) #Muesta en tuplas las llaves y los valores

print("\nImprime los keys,", person.keys()) #Muesta las llaves, que son las palabras clave

print("\nImprime los values,", person.values()) #Muestras los valores o definiciones

{'name': 'Fer', 'last_name': 'Acevedo', 'langs': ['python', 'javascript'], 'age': 32}
{'name': 'Santi', 'last_name': 'Acevedo', 'langs': ['python', 'javascript', 'rust'], 'age': 27}

 {'name': 'Santi', 'langs': ['python', 'javascript', 'rust']}

Imprime los items, dict_items([('name', 'Santi'), ('langs', ['python', 'javascript', 'rust'])])

Imprime los keys, dict_keys(['name', 'langs'])

Imprime los values, dict_values(['Santi', ['python', 'javascript', 'rust']])

#Loops: While

In [ ]:
# la sintaxis del ciclo while es similar a la sintaxis usada en if
"""
while True:
  print("Se ejecuta")


counter = 0

while counter < 10: #Cuando counter llegue a 10, el ciclo termina
  counter += 1
  print(counter)


counter_2 = 0

while counter_2 < 20:
  counter_2 += 1
  if counter_2 == 15:
    break
  print(counter_2)
"""
c3 = 0

while c3 < 20:
  c3 += 1
  if c3 < 15:
    continue  # La intrucción continue hace que el código omita la siguiente linea de código
  print(c3)

15
16
17
18
19
20

#Loops: For

In [2]:
for element in range(1, 10): # Imprime números enteros en un rango desde 0 hasta el establecido menos uno, en este caso es 10-1, o sea 9.
  print(element)

1
2
3
4
5
6
7
8
9

In [ ]:
for element in range(1, 20): # imprime números enteros en un rango desde uno hasta el determinado menos uno, en este caso es desde 1 hasta 20-1, o sea 19
  print(element)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
my_list = [23, 45, 67, 89, 43] # Iteración de una lista
for element in my_list:
  print(element)

23
45
67
89
43

In [ ]:
my_tuple = ("Fer", "Ace", "Ort") # Iteración de una tupla
for element in my_tuple:
  print(element)

Fer
Ace
Ort

In [ ]:
product = {
    "name" : "Camisa",
    "price" : 100,
    "stock" : 89
}

for element in product:
  print(element)  # Hace iteración de llaves


for element in product:
  print(product[element])  # Hace iteración de valores

for key in product:
  print(key, "=>", product[key])  # Hace iteración de diccionario completo

for key, value in product.items(): # Toma un array y lo vuelve en tuplas
  print( key, "=>", value)  # Hace iteración de diccionario completo

name
price
stock
Camisa
100
89
name => Camisa
price => 100
stock => 89
name => Camisa
price => 100
stock => 89

In [ ]:
people = [
  {
    "name": "fer",
    "age": 33
  },
  {
    "name": "pepe",
    "age": 29
  },
  {
    "name": "ace",
    "age": 42
  }

]

for person in people:
  print(person) # La iterción se puede hacer directamente de este modo

for person in people:
  print("Nombre =>", person["name"]) # La iterción de lista con diccionarios dentro se puede hacer directamente de este modo


for person in people:
  print("Edad =>", person["age"]) # La iterción de lista con diccionarios dentro se puede hacer directamente de este modo

{'name': 'fer', 'age': 33}
{'name': 'pepe', 'age': 29}
{'name': 'ace', 'age': 42}
Nombre => fer
Nombre => pepe
Nombre => ace
Edad => 33
Edad => 29
Edad => 42

In [ ]:
my_list = [1, -1, 2, -2, 3, -3, 4, -4]
new_list = []

# Escribe tu solución 👇
for i in my_list:
  if i > 0:
    new_list.append(i)

print(new_list)

[1, 2, 3, 4]

#Ciclos anidados

In [ ]:
# Es un ciclo dentro de otro ciclo

matriz = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriz)
print(matriz[0][1]) # Se puede solicitar un dato a modo de coordenada son fila y columna
print("\n")

for i in matriz:
  print(i) # Primero itera la fila de la matriz
  for j in i:
    print(j)  # Despues itera los datos dentro de la fila

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
2


[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
[7, 8, 9]
7
8
9

#Proyecto: aplicando ciclos

In [ ]:
#Implementación de tuplas en el juego de piedra, papel o tijera

import random

options = ("piedra", "papel", "tijera") #Se crea una tupla para agregar las opciones para el computador

computer_wins = 0
user_wins = 0

rounds = 1

while True:

  print("*" * 10 )
  print("ROUND", rounds)
  print("*" * 10 )

  print("Computadora: ", computer_wins)
  print("Usuario: ", user_wins)

  user_option = input("Escoje piedra, papel o tijera: ")
  rounds += 1

  if not user_option in options:
    print("Esta opción no es válida")
    continue


  compu_option = random.choice(options) #De manera aleatoria se escoje una opcion de la tupla
  user_option = user_option.lower()

  print(f"\nLa opción del usuario es {user_option}")
  print(f"\nLa opcion del computador es {compu_option}")

  if user_option == compu_option:
    print("\nEs empate")
  elif user_option == "piedra":
    if compu_option == "tijera":
      print("\nPiedra gana a tijera \nEl usuario ganó")
      user_wins += 1
    else:
      print("\nPapel gana a piedra \nEl computador gana")
      computer_wins += 1
  elif user_option == "papel":
    if compu_option == "tijera":
      print("\nTijera gana a papel \nEl computador gana")
      computer_wins += 1
    else:
      print("\nPapel gana a piedra \nEl usuario ganó")
      user_wins += 1
  elif user_option == "tijera":
    if compu_option == "papel":
      print("\nTijera gana a papel \nEl usuario ganó")
      user_wins += 1
    else:
      print("\nPiedra gana a tijera \nEl computador gana")
      computer_wins += 1

  if computer_wins == 2:
    print("Computadora: ", computer_wins)
    print("Usuario: ", user_wins)
    print("\n FIN DEL JUEGO El ganador del juego es la computadora")
    break
  if user_wins == 2:
    print("Computadora: ", computer_wins)
    print("Usuario: ", user_wins)
    print("\n FIN DEL JUEGO El ganador del juego eres tu")
    break

**********
ROUND 1
**********
Computadora:  0
Usuario:  0
Escoje piedra, papel o tijera: piedra

La opción del usuario es piedra

La opcion del computador es papel

Papel gana a piedra
El computador gana
**********
ROUND 2
**********
Computadora:  1
Usuario:  0
Escoje piedra, papel o tijera: papel

La opción del usuario es papel

La opcion del computador es papel

Es empate
**********
ROUND 3
**********
Computadora:  1
Usuario:  0
Escoje piedra, papel o tijera: papel

La opción del usuario es papel

La opcion del computador es papel

Es empate
**********
ROUND 4
**********
Computadora:  1
Usuario:  0
Escoje piedra, papel o tijera: papel

La opción del usuario es papel

La opcion del computador es piedra

Papel gana a piedra
El usuario ganó
**********
ROUND 5
**********
Computadora:  1
Usuario:  1
Escoje piedra, papel o tijera: piedra

La opción del usuario es piedra

La opcion del computador es tijera

Piedra gana a tijera
El usuario ganó
Computadora:  1
Usuario:  2

 FIN DEL JUEGO El ganador del juego eres tu