<a href="https://colab.research.google.com/github/feracor/Python-basics/blob/main/Python_Comprenhensions_funciones_errores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Zen de Pyhon

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

#Conjuntos

In [ ]:
set_countries = {"col", "mex", "bol", "col"}  # Si hay elementos duplicados, se eliminan
print(set_countries)
print(type(set_countries))

{'bol', 'mex', 'col'}
<class 'set'>

In [ ]:
set_numbers = {1, 44, 3, 50, 55}
print(set_numbers )

set_types = {"col", 32.3, 3, False}
print(set_types )

{1, 50, 3, 55, 44}
{32.3, False, 3, 'col'}

In [ ]:
set_from_string = set("hello")  # De esta manera convierte los caracteres de un string en elementos de un conjunto sin duplicados y los guarda en una variable de conjunto
print(set_from_string)

{'h', 'e', 'l', 'o'}

In [ ]:
set_from_tuples = set(("abc", "def", "abc", "as"))  # De esta manera convierte los definidos de tuplas en elementos de conjuntos
print(set_from_tuples)
print(type(set_from_tuples))

{'def', 'abc', 'as'}
<class 'set'>

In [ ]:
numbers = [1, 2, 3, 5, 5, 6, 7] # Lista de numeros
print(numbers)
print(type(numbers))

set_numbers = set(numbers) # Convierte lista de numeros en conjunto, por tanto se eliminan los elementos duplicados
print(set_numbers)
print(type(set_numbers))

unique_numbers = list(set_numbers) # Convierte el tipo de dato de conjunto a lista y se guardan los elementos en la lista
print(unique_numbers)
print(type(unique_numbers))

[1, 2, 3, 5, 5, 6, 7]
<class 'list'>
{1, 2, 3, 5, 6, 7}
<class 'set'>
[1, 2, 3, 5, 6, 7]
<class 'list'>

#Modificando conjuntos

In [ ]:
set_countries = {"col", "mex", "bol", "col"}  # Si hay elementos duplicados, se eliminan por defecto
size = len (set_countries)  # Guarda el numero de elementos del conjunto

print(size) # Imprimir el numero de elementos del conjunto

print("col" in set_countries) # Confirma si el elemento se encuentra dentro del conjunto
print("per" in set_countries)

# Adicionar elementos al conjunto - add

set_countries.add("per")

print("col" in set_countries) # Confirma si el elemento se encuentra dentro del conjunto
print("per" in set_countries)

print(set_countries)

# Actualzar elementos - update

set_countries.update({"arg", "ecu", "per"}) # se pueden agregar varios elementos con un formato similar al usado con los diccionarios. No duplica elementos
print(set_countries)

# Eliminar elementos - remove
set_countries.remove("col")
print(set_countries)

# set_countries.remove("ar") # Cuando no se encuentran los elementos dentro del conjunto, python arroja un error informando que no se encuentra dicho elemento
set_countries.discard("ar") # Cuando no se encuentran los elementos dentro del conjunto no arroja error usando este metodo

# Limpiar el conjunto - clear
set_countries.clear()
size = len (set_countries)  # Guarda el numero de elementos del conjunto
print(size) # Imprimir el numero de elementos del conjunto
print(set_countries)

3
True
False
True
True
{'per', 'mex', 'col', 'bol'}
{'mex', 'bol', 'arg', 'ecu', 'col', 'per'}
{'mex', 'bol', 'arg', 'ecu', 'per'}
0
set()

#Operaciones con conjuntos

In [ ]:
set_a = {"col", "mex", "bol"}
set_b = {"per", "bol"}

In [ ]:
# Unión
set_c = set_a.union(set_b) # Unión usando método "union"
print(set_c)

print(set_a | set_b) # Unión usando operador

{'per', 'mex', 'bol', 'col'}
{'per', 'mex', 'bol', 'col'}

In [ ]:
# Intersección
set_d = set_a.intersection(set_b) # Intersección usando método "intersection"
print(set_d)

print(set_a & set_b) # Intersección usando operador

{'bol'}
{'bol'}

In [ ]:
#Diferencia
set_e = set_a.difference(set_b) # Diferencia usando método "difference"
print(set_e)

print(set_a - set_b) # Diferencia usando operador

{'col', 'mex'}
{'col', 'mex'}

In [ ]:
#Diferencia simétrica
set_f = set_a.symmetric_difference(set_b) # Diferencia simétrica usando método "symmetric_difference"
print(set_f)

print(set_a ^ set_b) # Diferencia simétrica con operador

{'col', 'mex', 'per'}
{'col', 'mex', 'per'}

#List Comprehension

In [ ]:
#Generar lista de números con ciclo for
numbers =[]

for element in range(1, 11):
  numbers.append(element * 2)

print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#Generar lista de números con list #Generar lista de números con dictionary comprehension

numbers_2 =[element * 2 for element in range(1,11)]

print(numbers_2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
num_3 = [i * 2 for i in range(1,101) if i % 2 == 0] # Solo multiplica por los los numeros de 1 a 100 si los numeros a multiplicar con pares
print(num_3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

#Dictionary Comprehension

In [ ]:
#Generar diccionario con ciclo for

dict = {}
for i in range(1,5):
  dict[i] = i*2

print(dict)

{1: 2, 2: 4, 3: 6, 4: 8}

In [ ]:
#Generar lista de números con dictionary comprehension
dict_2 = {i : i * 2 for i in range(1,5)}
print(dict_2)

{1: 2, 2: 4, 3: 6, 4: 8}

In [ ]:
#Generar diccionario para paises y poblacion usando ciclo for

import random

countries = ["col", "mex", "per", "bol"]
population = {}

for country in countries:
  population[country] = random.randint(1, 101)

print(population)

{'col': 26, 'mex': 86, 'per': 5, 'bol': 89}

In [ ]:
#Generar diccionario para paises con dictionary comprehension

population_2 = { country :  random.randint(1, 101) for country in countries}

print(population_2)

{'col': 15, 'mex': 53, 'per': 77, 'bol': 69}

In [ ]:
names = ["Fernando", "Sandra", "Santiago"]
ages = [18, 50, 10]

print(list(zip(names, ages))) # La funcion zip hace unión entre listas

new_dict = {name:age for (name, age) in zip(names, ages)}
print(new_dict)

[('Fernando', 18), ('Sandra', 50), ('Santiago', 10)]
{'Fernando': 18, 'Sandra': 50, 'Santiago': 10}