<a href="https://colab.research.google.com/github/feracor/Python-basics/blob/main/Python_Comprenhensions_funciones_errores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Zen de Pyhon

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

#Conjuntos

In [ ]:
set_countries = {"col", "mex", "bol", "col"}  # Si hay elementos duplicados, se eliminan
print(set_countries)
print(type(set_countries))

{'bol', 'mex', 'col'}
<class 'set'>

In [ ]:
set_numbers = {1, 44, 3, 50, 55}
print(set_numbers )

set_types = {"col", 32.3, 3, False}
print(set_types )

{1, 50, 3, 55, 44}
{32.3, False, 3, 'col'}

In [ ]:
set_from_string = set("hello")  # De esta manera convierte los caracteres de un string en elementos de un conjunto sin duplicados y los guarda en una variable de conjunto
print(set_from_string)

{'h', 'e', 'l', 'o'}

In [ ]:
set_from_tuples = set(("abc", "def", "abc", "as"))  # De esta manera convierte los definidos de tuplas en elementos de conjuntos
print(set_from_tuples)
print(type(set_from_tuples))

{'def', 'abc', 'as'}
<class 'set'>

In [ ]:
numbers = [1, 2, 3, 5, 5, 6, 7] # Lista de numeros
print(numbers)
print(type(numbers))

set_numbers = set(numbers) # Convierte lista de numeros en conjunto, por tanto se eliminan los elementos duplicados
print(set_numbers)
print(type(set_numbers))

unique_numbers = list(set_numbers) # Convierte el tipo de dato de conjunto a lista y se guardan los elementos en la lista
print(unique_numbers)
print(type(unique_numbers))

[1, 2, 3, 5, 5, 6, 7]
<class 'list'>
{1, 2, 3, 5, 6, 7}
<class 'set'>
[1, 2, 3, 5, 6, 7]
<class 'list'>

#Modificando conjuntos

In [ ]:
set_countries = {"col", "mex", "bol", "col"}  # Si hay elementos duplicados, se eliminan por defecto
size = len (set_countries)  # Guarda el numero de elementos del conjunto

print(size) # Imprimir el numero de elementos del conjunto

print("col" in set_countries) # Confirma si el elemento se encuentra dentro del conjunto
print("per" in set_countries)

# Adicionar elementos al conjunto - add

set_countries.add("per")

print("col" in set_countries) # Confirma si el elemento se encuentra dentro del conjunto
print("per" in set_countries)

print(set_countries)

# Actualzar elementos - update

set_countries.update({"arg", "ecu", "per"}) # se pueden agregar varios elementos con un formato similar al usado con los diccionarios. No duplica elementos
print(set_countries)

# Eliminar elementos - remove
set_countries.remove("col")
print(set_countries)

# set_countries.remove("ar") # Cuando no se encuentran los elementos dentro del conjunto, python arroja un error informando que no se encuentra dicho elemento
set_countries.discard("ar") # Cuando no se encuentran los elementos dentro del conjunto no arroja error usando este metodo

# Limpiar el conjunto - clear
set_countries.clear()
size = len (set_countries)  # Guarda el numero de elementos del conjunto
print(size) # Imprimir el numero de elementos del conjunto
print(set_countries)

3
True
False
True
True
{'per', 'mex', 'col', 'bol'}
{'mex', 'bol', 'arg', 'ecu', 'col', 'per'}
{'mex', 'bol', 'arg', 'ecu', 'per'}
0
set()

#Operaciones con conjuntos

In [ ]:
set_a = {"col", "mex", "bol"}
set_b = {"per", "bol"}

In [ ]:
# Unión
set_c = set_a.union(set_b) # Unión usando método "union"
print(set_c)

print(set_a | set_b) # Unión usando operador

{'per', 'mex', 'bol', 'col'}
{'per', 'mex', 'bol', 'col'}

In [ ]:
# Intersección
set_d = set_a.intersection(set_b) # Intersección usando método "intersection"
print(set_d)

print(set_a & set_b) # Intersección usando operador

{'bol'}
{'bol'}

In [ ]:
#Diferencia
set_e = set_a.difference(set_b) # Diferencia usando método "difference"
print(set_e)

print(set_a - set_b) # Diferencia usando operador

{'col', 'mex'}
{'col', 'mex'}

In [ ]:
#Diferencia simétrica
set_f = set_a.symmetric_difference(set_b) # Diferencia simétrica usando método "symmetric_difference"
print(set_f)

print(set_a ^ set_b) # Diferencia simétrica con operador

{'col', 'mex', 'per'}
{'col', 'mex', 'per'}

#List Comprehension

In [ ]:
#Generar lista de números con ciclo for
numbers =[]

for element in range(1, 11):
  numbers.append(element * 2)

print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#Generar lista de números con list #Generar lista de números con dictionary comprehension

numbers_2 =[element * 2 for element in range(1,11)]

print(numbers_2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
num_3 = [i * 2 for i in range(1,101) if i % 2 == 0] # Solo multiplica por los los numeros de 1 a 100 si los numeros a multiplicar con pares
print(num_3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

#Dictionary Comprehension

In [ ]:
#Generar diccionario con ciclo for

dict = {}
for i in range(1,5):
  dict[i] = i*2

print(dict)

{1: 2, 2: 4, 3: 6, 4: 8}

In [ ]:
#Generar lista de números con dictionary comprehension
dict_2 = {i : i * 2 for i in range(1,5)}
print(dict_2)

{1: 2, 2: 4, 3: 6, 4: 8}

In [ ]:
#Generar diccionario para paises y poblacion usando ciclo for

import random

countries = ["col", "mex", "per", "bol"]
population = {}

for country in countries:
  population[country] = random.randint(1, 101)

print(population)

{'col': 26, 'mex': 86, 'per': 5, 'bol': 89}

In [ ]:
#Generar diccionario para paises con dictionary comprehension

population_2 = { country :  random.randint(1, 101) for country in countries}

print(population_2)

{'col': 15, 'mex': 53, 'per': 77, 'bol': 69}

In [ ]:
names = ["Fernando", "Sandra", "Santiago"]
ages = [18, 50, 10]

print(list(zip(names, ages))) # La funcion zip hace unión entre listas

new_dict = {name:age for (name, age) in zip(names, ages)}
print(new_dict)

[('Fernando', 18), ('Sandra', 50), ('Santiago', 10)]
{'Fernando': 18, 'Sandra': 50, 'Santiago': 10}

#Funciones

In [ ]:
print('Hola') # Esta es una función que imprime el argumento

def my_print():   # Código para imprimir usando una función
  print('This is my print')

my_print()  # La función se llama por el nombre de la misma

def my_print_2(text):   # Código para imprimir usando una función ingresando un parámetro
  print(text * 2)

my_print_2('Este es mi texto ')  # La función se llama por el nombre de la misma

Hola
This is my print
Este es mi texto Este es mi texto

In [ ]:
a = 10
b = 90
c = a + b
print(c)

def suma(a, b): # se definen los parametros para ingresar dentro de la función
  print(a + b)
suma(10,20) # Se hace llamado de la función ingresando los valores que se van a operar
suma(15,26)

def suma(a, b): # Esta función hace uso de una función dentro de otra función
  my_print_2(a + b)
suma(10,20)
suma(15,26)

100
30
41
60
82

#Funciones: return

In [ ]:
sum = 0
for x in range(1,10): # Esta operación realiza una suma en un rango definido
  sum += x
print(sum)

45

In [ ]:
# Es posible realizar la operación de tal manera que los valores puedan ser variables

def sum_range(a, b): #a parámetro mínimo, b parámetro máximo
  print(a, b)
  sum = 0
  for x in range(a, b): # El rango ahora puede ser ajustado de forma dinámica
    sum += x
  return sum # Termina la operación regresando el valor que hay en sum

result = sum_range(1, 10) # Los valores pueden ser ajustados al momento de llamar la función y guardados en una variable
print(result)

1 10
45

#return & args

In [ ]:
def find_vol(a = 1, b = 1, c = 1): # Se pueden asignar valores por defecto
  return a * b * c

result = find_vol(2, 3, 4)

print(result)

24

In [ ]:
def find_vol(length = 1, width = 1, deepth = 1): # Se pueden asignar valores por defecto
  return length * width * deepth

result = find_vol(width = 2) # Se puede enviar un solo parámetro al especificar cuál es

print(result)

2

In [ ]:
def find_vol(length = 1, width = 1, deepth = 1): # Se pueden asignar valores por defecto
  return length * width * deepth, width, 'Hola' # Para retornar mas de un valor con la función, se debe separa con comas lo que se desea obtener

result = find_vol(width = 2) # Se puede enviar un solo parámetro al especificar cuál es

print(result) # Al ser ejecutado se genera una tupla con varios valores o se puede especificar que posición de la tupla se desa obtener
print(result[2])
print(result[1])

(2, 2, 'Hola')
Hola
2

#Scope

In [ ]:
price = 100 # El contexto de esta variable va a ser global

def increment():
  price = price +10
  print(price) # Python puede confundirse y va a tener un contexto diferente para la variable creada dentro de la función, lo que generará un error


print(price)

increment() # Se genera un error al llamar a una función con una variable sin definir dentro de la misma

100

UnboundLocalError: local variable 'prices' referenced before assignment

In [ ]:
price = 100

def increment():
  price = 200 # La variable se puede declarar dentro de la función para no generar error ya que estaría teniendo un contexto diferente a la variable global del mismo nombre
  price = price +10
  print(price)
  return price


print(price)

price_2 = increment()
print(price_2)

100
210
210

In [ ]:
price = 100

def increment():
  price = 200
  result = price +10
  print(result)
  return result


print(price)

price_2 = increment()
print(result) # Al llamar una variable definida dentro de una función, se genera un error ya que esta variable no tiene contexto global

100
210

NameError: name 'result' is not defined

#Refactorizando juego piedra, papel y tijera

In [ ]:
import random

def choose_options():
  options = ('piedra', 'papel', 'tijera')
  user_option = input('piedra, papel o tijera => ')
  user_option = user_option.lower()


  if not user_option in options:
    print('esa opcion no es valida')
      #continue
    return None, None

  computer_option = random.choice(options)
  print('User option =>', user_option)
  print('Computer option =>', computer_option)
  return user_option, computer_option

#----------------------------------------------------------------

def check_rules(user_option, computer_option, user_wins, computer_wins):
  if user_option == computer_option:
        print('Empate!')
  elif user_option == 'piedra':
    if computer_option == 'tijera':
        print('piedra gana a tijera')
        print('user gano!')
        user_wins += 1
    else:
        print('Papel gana a piedra')
        print('computer gano!')
        computer_wins += 1
  elif user_option == 'papel':
    if computer_option == 'piedra':
        print('papel gana a piedra')
        print('user gano')
        user_wins += 1
    else:
        print('tijera gana a papel')
        print('computer gano!')
        computer_wins += 1
  elif user_option == 'tijera':
      if computer_option == 'papel':
          print('tijera gana a papel')
          print('user gano!')
          user_wins += 1
      else:
          print('piedra gana a tijera')
          print('computer gano!')
          computer_wins += 1
  return(user_wins, computer_wins)
#=========================================================================
def run_game():
  computer_wins = 0
  user_wins = 0
  rounds = 1

  while True:

    print('*' * 10)
    print('ROUND', rounds)
    print('*' * 10)

    print('computer_wins', computer_wins)
    print('user_wins', user_wins)

    rounds += 1

    user_option, computer_option = choose_options()
    user_wins, computer_wins = check_rules(user_option, computer_option, user_wins, computer_wins)

    #-----------------------


    if computer_wins == 2:
      print('El ganador es la computadora')
      break

    if user_wins == 2:
      print('El ganador es el usuario')
      break


run_game()

**********
ROUND 1
**********
computer_wins 0
user_wins 0
piedra, papel o tijera => papel
User option => papel
Computer option => papel
Empate!
**********
ROUND 2
**********
computer_wins 0
user_wins 0
piedra, papel o tijera => papel
User option => papel
Computer option => tijera
tijera gana a papel
computer gano!
**********
ROUND 3
**********
computer_wins 1
user_wins 0
piedra, papel o tijera => papel
User option => papel
Computer option => papel
Empate!
**********
ROUND 4
**********
computer_wins 1
user_wins 0
piedra, papel o tijera => piedra
User option => piedra
Computer option => piedra
Empate!
**********
ROUND 5
**********
computer_wins 1
user_wins 0
piedra, papel o tijera => papel
User option => papel
Computer option => papel
Empate!
**********
ROUND 6
**********
computer_wins 1
user_wins 0
piedra, papel o tijera => papel
User option => papel
Computer option => piedra
papel gana a piedra
user gano
**********
ROUND 7
**********
computer_wins 1
user_wins 1
piedra, papel o tijera => papel
User option => papel
Computer option => papel
Empate!
**********
ROUND 8
**********
computer_wins 1
user_wins 1
piedra, papel o tijera => papel
User option => papel
Computer option => tijera
tijera gana a papel
computer gano!
El ganador es la computadora

#Lamba

In [ ]:
def increment(x):
  return x + 1

increment_2 = lambda x: x + 1

result = increment(10)
print(result)

result = increment_2(20)
print(result)

full_name = lambda name, last_name:f'Full name is {name.title()} {last_name.title()}'
text = full_name('fernando','acevedo')

print(text)

11
21
Full name is Fernando Acevedo

#HOF Higher Order Function

In [ ]:
def increment(y):
  return y + 1

def hof(x, func):
  return x + func(x)

result = hof(2, increment)

print(result)

5

In [ ]:
#Usando lambda

increment = lambda y: y + 1

hof = lambda x, func: x + func(x)

result = hof(2, increment)
print(result)

result = hof(2, lambda y: y + 3)
print(result)

result = hof(2, lambda y: y * 3)
print(result)

5
7
8

#Map

In [ ]:
# Funcion que hace tranformaciones a una lista de elementos
numbers = [1, 2, 3, 4]

numbers_2 = []
for i in numbers:
  numbers_2.append(i * 2)

numbers_3 = list(map(lambda i : i * 2, numbers))

print(numbers)
print(numbers_2)
print(numbers_3)

[1, 2, 3, 4]
[2, 4, 6, 8]
[2, 4, 6, 8]

In [ ]:
num_1 = [1, 2, 3, 4]
num_2 = [5, 6, 7]

print(num_1)
print(num_2)
result = list(map(lambda x, y: x + y, num_1, num_2))

print(result)

[1, 2, 3, 4]
[5, 6, 7]
[6, 8, 10]

#Map con diccionarios

In [ ]:
items = [
    {
      'Product': 'Camisa',
      'Price': 100
    },
    {
      'Product': 'Pantalones',
      'Price': 300
    },
    {
      'Product': 'Pantalones 2',
      'Price': 200
    }
]

prices = list(map(lambda i: i ['Price'], items))
print(prices)

[100, 300, 200]

In [ ]:
items = [
    {
      'Product': 'Camisa',
      'Price': 100,
    },
    {
      'Product': 'Pantalones',
      'Price': 300
    },
    {
      'Product': 'Pantalones 2',
      'Price': 200
    }
]

def add_taxes(item):
  item['Taxes'] = item['Price'] * 0.19
  return item

new_items = list(map( add_taxes, items))
print('new list:')
print(new_items)

print('old list:')
print(items) # Se realizan modificaciones en el array original

[100, 300, 200]
new list:
[{'Product': 'Camisa', 'Price': 100, 'Taxes': 19.0}, {'Product': 'Pantalones', 'Price': 300, 'Taxes': 57.0}, {'Product': 'Pantalones 2', 'Price': 200, 'Taxes': 38.0}]
old list:
[{'Product': 'Camisa', 'Price': 100, 'Taxes': 19.0}, {'Product': 'Pantalones', 'Price': 300, 'Taxes': 57.0}, {'Product': 'Pantalones 2', 'Price': 200, 'Taxes': 38.0}]

#Map con inmutabilidad

In [ ]:
#Lista con diccionarios incorporados en sus elementos
items = [
    {
      'Product': 'Camisa',
      'Price': 100,
    },
    {
      'Product': 'Pantalones',
      'Price': 300
    },
    {
      'Product': 'Pantalones 2',
      'Price': 200
    }
]

def add_taxes(item):
  temp_list = item.copy() # Para solucionar el problema de referencia en memoria, se hace una copia de la lista original para que pueda ser manipulada
  temp_list['Taxes'] = temp_list['Price'] * 0.19 # En esta linea se hace una referencia a la memoria
  return temp_list

new_items = list(map( add_taxes, items))
print('new list:')
print(new_items)

print('old list:')
print(items) # La lista original se mantiene ya que se operó la copia de la lista original

new list:
[{'Product': 'Camisa', 'Price': 100, 'Taxes': 19.0}, {'Product': 'Pantalones', 'Price': 300, 'Taxes': 57.0}, {'Product': 'Pantalones 2', 'Price': 200, 'Taxes': 38.0}]
old list:
[{'Product': 'Camisa', 'Price': 100}, {'Product': 'Pantalones', 'Price': 300}, {'Product': 'Pantalones 2', 'Price': 200}]

In [ ]:
def multiply_numbers(numbers):
    # Escribe tu solución

    return list(map(lambda i : i * 2, numbers))


numbers = [1, 2, 3, 4]
response = multiply_numbers(numbers)
print(response)



numbers = [1, 2, 3, 4]
response = list(map(lambda i : i * 2, numbers))
print(response)

[2, 4, 6, 8]
[2, 4, 6, 8]

#Filter

In [ ]:
# Selecciona ciertos elementos para crear una nueva lista
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_numbers = list(filter(lambda x : x % 2 == 0, numbers))


print('Lista original:')
print(numbers)
print('Nueva lista:')
print(new_numbers)

Lista original:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Nueva lista:
[2, 4, 6, 8, 10]

In [ ]:
# Filtrar lista con diccionario con equipos que hayan ganado

matches = [
  {
    'home_team': 'Bolivia',
    'away_team': 'Uruguay',
    'home_team_score': 3,
    'away_team_score': 1,
    'home_team_result': 'Win'
  },
  {
    'home_team': 'Brazil',
    'away_team': 'Mexico',
    'home_team_score': 1,
    'away_team_score': 1,
    'home_team_result': 'Draw'
  },
  {
    'home_team': 'Ecuador',
    'away_team': 'Venezuela',
    'home_team_score': 5,
    'away_team_score': 0,
    'home_team_result': 'Win'
  },
]

print(matches)
print(len(matches))

new_list = list(filter( lambda item: item['home_team_result'] == 'Win', matches)) # En lista con diccionarios es aconsejable crear una copia de la lista original para evitar errores por referencia a la memoria
print(new_list)
print(len(new_list))

print(matches)  # Verificacion de la lista original
print(len(matches))

[{'home_team': 'Bolivia', 'away_team': 'Uruguay', 'home_team_score': 3, 'away_team_score': 1, 'home_team_result': 'Win'}, {'home_team': 'Brazil', 'away_team': 'Mexico', 'home_team_score': 1, 'away_team_score': 1, 'home_team_result': 'Draw'}, {'home_team': 'Ecuador', 'away_team': 'Venezuela', 'home_team_score': 5, 'away_team_score': 0, 'home_team_result': 'Win'}]
3
[{'home_team': 'Bolivia', 'away_team': 'Uruguay', 'home_team_score': 3, 'away_team_score': 1, 'home_team_result': 'Win'}, {'home_team': 'Ecuador', 'away_team': 'Venezuela', 'home_team_score': 5, 'away_team_score': 0, 'home_team_result': 'Win'}]
2
[{'home_team': 'Bolivia', 'away_team': 'Uruguay', 'home_team_score': 3, 'away_team_score': 1, 'home_team_result': 'Win'}, {'home_team': 'Brazil', 'away_team': 'Mexico', 'home_team_score': 1, 'away_team_score': 1, 'home_team_result': 'Draw'}, {'home_team': 'Ecuador', 'away_team': 'Venezuela', 'home_team_score': 5, 'away_team_score': 0, 'home_team_result': 'Win'}]
3

In [ ]:
'''
Para resolver este desafío, tu reto es usar la función filter de Python y una función lambda para filtrar una lista de palabras,
retornando una lista solo con las que cumplan con la condición de tener 4 o más letras.
La función filter_by_length recibirá como entrada una lista con palabras. Finalmente, la función retornará la lista filtrada.


new_numbers = list(filter(lambda len(x) : len(x) >= 4, words))

def filter_by_length(words):
   # Escribe tu solución 👇
   return []'''

words = ['amor', 'sol', 'piedra', 'día']
response = list(filter(lambda x : len(x) >= 4, words))
print(response)

['amor', 'piedra']

In [ ]:
words = ['amor', 'sol', 'piedra', 'día']
response = list(filter(lambda x : len(x) >= 4, words))
print(response)

['amor', 'piedra']

In [ ]:
def filter_by_length(words):
   # Escribe tu solución 👇
   return list(filter(lambda x : len(x) >= 4, words))

words = ['amor', 'sol', 'piedra', 'día']
response = filter_by_length(words)
print(response)

['amor', 'piedra']